*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0; /*Add this*/
}

body {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

.section {
  margin: 20px auto;
}

.container {
  height: 210px;
  line-height: 0;
  border: 1px solid #ddd;
  padding: 30px 15px 50px 15px;
  border-radius: 5px 5px 0px 0px;
  opacity: 0.7;
  font-size: 11px;
  margin: 0 auto;
}

.container,
.bottom-container {
  width: 450px;
}

.grid {
  width: 13px;
  height: 13px;
  margin: 2px;
  border-radius: 2px;
  border: 1px solid #ddd;
  position: relative;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  height: 40px;
  text-align: center;
  font-size: 12px;
  background-color: black;
  word-wrap: none;
  color: #fff;
  text-align: center;
  padding: 20px 5px 5px 5px;
  border-radius: 6px;
  bottom: 100%;
  left: 8%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  margin-bottom: 25px;
  position: absolute;
  z-index: 1;
  color: #fff;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.8;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 30%;
  margin-left: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.month-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}

.key-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 30px;
}

.key {
  width: 11px;
  height: 11px;
  margin: 1.5px;
  border-radius: 2px;
  border: 1px solid #ddd;
}

#key-text1 {
  margin-right: 8px;
}

#key-text2 {
  margin-left: 8px;
}

#key1 {
  background-color: #ebedf0;
}

#key2 {
  background-color: #9be9a8;
}
#key3 {
  background-color: #40c463;
}
#key4 {
  background-color: #30a14e;
}
#key5 {
  background-color: #216e39;
}

.link a {
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 420px;
  margin-top: 10px;
}

.contribution-summary {
  margin-bottom: 10px;
}

/* Styling Social Links*/

.social-links {
  display: flex;
  justify-content: space-around;
  width: 450px;
  position: absolute;
  top: 500px;
  font-size: 1.3rem;
  transition: background-position 275ms ease;
}

.social-links a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 400;
  color: rgb(151, 172, 235);
  overflow: hidden;
  background: linear-gradient(
    to right,
    midnightblue,
    midnightblue 50%,
    royalblue 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  text-decoration: none;
}

.social-links a:hover {
  background-position: 0 100%;
  border-bottom: solid 5px royalblue;
}

.amount {
  font-size: 1.1rem;
}
